services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.3
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false             # Tắt bảo mật
      - xpack.security.http.ssl.enabled=false    # Tắt SSL
      - ES_JAVA_OPTS=-Xms1g -Xmx1g               # Cấu hình JVM
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data

volumes:
  esdata: